# Gitea
USER_UID=1000
USER_GID=1000
GITEA_DOMAIN=localhost
GITEA_ROOT_URL=https://localhost
GITEA_SECRET_KEY=

# Gitea admin account
GITEA_ADMIN_USERNAME=admin
GITEA_ADMIN_PASSWORD=changeme
GITEA_ADMIN_EMAIL=admin@example.com

# Shared database config (used by both Gitea and PostgreSQL)
DB_USER=gitea
DB_PASSWORD=gitea
DB_NAME=gitea
